<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSourceCredentials>
  </packageSourceCredentials>
  <packageSources>
    <clear />
    <add key="Local" value="$/../packages" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <activePackageSource>
    <!-- All non-disabled sources are active -->
    <add key="All" value="(Aggregate source)"/>
  </activePackageSource>
  <disabledPackageSources>
  </disabledPackageSources>
</configuration>